*.py
*.txt
*.log
*.json
!app.json
!package.json
!eas.json
!package-lock.json
!assetmap.json
!metadata.json
.vscode/
node_modules/
.expo/
dist/
build_log.json
ts_errors.txt
qrcode.txt
expo_output.txt
export_error.log
